In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# importing data from csv and using .name for naming data frame
df2017= pd.read_csv('WorldHappiness_2017.csv')
df2017.name ='df_2017'
df2017

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [13]:
df2018= pd.read_csv('WorldHappiness_2018.csv')
df2018.name ='df_2018'
df2018

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [14]:
df2019= pd.read_csv('WorldHappiness_2019.csv')
df2019.name ='df_2019'
df2019

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [15]:
# Writing a for loop to determine the number of rows and columns for all the three data frames
for x in (df2017,df2018,df2019):
    print(x.name, ' ' , x.shape)

df_2017   (155, 12)
df_2018   (156, 9)
df_2019   (156, 9)

In [16]:
# Using .info to find out total elements for each column and its data type.
df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [17]:
df2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [18]:
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [20]:
# Using .columns to find out the name of columns
df2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [23]:
# Renaming columns using .rename({},axis = 1,inplace=True)
df2017.rename({'Happiness.Rank':'Rank','Happiness.Score':'Score'},axis=1,inplace=True)
df2017.columns

Index(['Country', 'Rank', 'Score', 'Whisker.high', 'Whisker.low',
       'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.',
       'Freedom', 'Generosity', 'Trust..Government.Corruption.',
       'Dystopia.Residual'],
      dtype='object')

In [24]:
df2017.rename({'Economy..GDP.per.Capita.':'GDP_per_capita','Family':'Social_support', 'Health..Life.Expectancy.':'Health_Life_Expectancy','Trust..Government.Corruption.':'Corruption'},axis=1,inplace=True)
df2017.columns

Index(['Country', 'Rank', 'Score', 'Whisker.high', 'Whisker.low',
       'GDP_per_capita', 'Social_support', 'Health_Life_Expectancy', 'Freedom',
       'Generosity', 'Corruption', 'Dystopia.Residual'],
      dtype='object')

In [28]:
# Using .pop to delete columns permanently from the data frame.
df2017.pop('Dystopia.Residual')

0      2.277027
1      2.313707
2      2.322715
3      2.276716
4      2.430182
         ...
150    0.540061
151    1.061574
152    0.621130
153    1.683024
154    2.066005
Name: Dystopia.Residual, Length: 155, dtype: float64

In [30]:
df2017.columns

Index(['Country', 'Rank', 'Score', 'GDP_per_capita', 'Social_support',
       'Health_Life_Expectancy', 'Freedom', 'Generosity', 'Corruption'],
      dtype='object')

In [31]:
df2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [33]:
df2018.rename({'Overall rank':'Rank', 'Country or region':'Country','GDP per capita':'GDP_per_capita', 'Social support': 'Social_support','Healthy life expectancy':'Health_Life_Expectancy'},axis=1,inplace=True)
df2018.columns

Index(['Rank', 'Country', 'Score', 'GDP_per_capita', 'Social_support',
       'Health_Life_Expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [34]:
df2018.rename({'Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Corruption'},axis=1,inplace=True)
df2018.columns

Index(['Rank', 'Country', 'Score', 'GDP_per_capita', 'Social_support',
       'Health_Life_Expectancy', 'Freedom', 'Generosity', 'Corruption'],
      dtype='object')

In [35]:
df2019.rename({'Overall rank':'Rank', 'Country or region':'Country','GDP per capita':'GDP_per_capita', 'Social support': 'Social_support','Healthy life expectancy':'Health_Life_Expectancy','Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Corruption'},axis=1,inplace=True)
df2019.columns

Index(['Rank', 'Country', 'Score', 'GDP_per_capita', 'Social_support',
       'Health_Life_Expectancy', 'Freedom', 'Generosity', 'Corruption'],
      dtype='object')

In [36]:
df2017.columns

Index(['Country', 'Rank', 'Score', 'GDP_per_capita', 'Social_support',
       'Health_Life_Expectancy', 'Freedom', 'Generosity', 'Corruption'],
      dtype='object')

In [37]:
df2017 = df2017.reindex(columns=['Rank', 'Country', 'Score', 'GDP_per_capita', 'Social_support',
       'Health_Life_Expectancy', 'Freedom', 'Generosity', 'Corruption'])

In [38]:
df2017.columns

Index(['Rank', 'Country', 'Score', 'GDP_per_capita', 'Social_support',
       'Health_Life_Expectancy', 'Freedom', 'Generosity', 'Corruption'],
      dtype='object')

In [39]:
df2017.sample(5)

,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
148,149,Guinea,3.507,0.244550,0.791245,0.194129,0.348588,0.264815,0.110938
44,45,El Salvador,6.003,0.909784,1.182125,0.596019,0.432453,0.078258,0.089981
107,108,Iran,4.692,1.156873,0.711551,0.639333,0.249323,0.387243,0.048761
59,60,Kazakhstan,5.819,1.284556,1.384369,0.606042,0.437454,0.201964,0.119283
128,129,Cambodia,4.168,0.601765,1.006238,0.429783,0.633376,0.385923,0.068106

In [40]:
df2018.sample(5)

,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
96,97,Bhutan,5.082,0.796,1.335,0.527,0.541,0.364,0.171
12,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101
122,123,Mozambique,4.417,0.198,0.902,0.173,0.531,0.206,0.158
87,88,Tajikistan,5.199,0.474,1.166,0.598,0.292,0.187,0.034
35,36,Spain,6.310,1.251,1.538,0.965,0.449,0.142,0.074

In [41]:
df2019.sample(5)

,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
140,141,Liberia,3.975,0.073,0.922,0.443,0.370,0.233,0.033
73,74,Tajikistan,5.467,0.493,1.098,0.718,0.389,0.230,0.144
18,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128
122,123,Mozambique,4.466,0.204,0.986,0.390,0.494,0.197,0.138
107,108,Venezuela,4.707,0.960,1.427,0.805,0.154,0.064,0.047

In [42]:
df2017.insert(0, "Year", 2017, True)

In [43]:
df2017.sample(5)

,Year,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
101,2017,102,Tunisia,4.805,1.007266,0.868351,0.613212,0.289681,0.049693,0.086723
45,2017,46,Poland,5.973,1.291788,1.445712,0.699475,0.520342,0.158466,0.059308
47,2017,48,Italy,5.964,1.395067,1.444923,0.853144,0.256451,0.172790,0.028028
107,2017,108,Iran,4.692,1.156873,0.711551,0.639333,0.249323,0.387243,0.048761
89,2017,90,Bosnia and Herzegovina,5.182,0.982409,1.069336,0.705186,0.204403,0.328867,0.000000

In [44]:
df2018.insert(0, "Year", 2018, True)
df2019.insert(0, "Year", 2019, True)

In [48]:
df2018.sample(5)

,Year,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
12,2018,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101
36,2018,37,Colombia,6.260,0.960,1.439,0.635,0.531,0.099,0.039
63,2018,64,Paraguay,5.681,0.835,1.522,0.615,0.541,0.162,0.074
125,2018,126,Mauritania,4.356,0.557,1.245,0.292,0.129,0.134,0.093
72,2018,73,Belarus,5.483,1.039,1.498,0.700,0.307,0.101,0.154

In [47]:
df2019.sample(5)

,Year,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
114,2019,115,Burkina Faso,4.587,0.331,1.056,0.380,0.255,0.177,0.113
115,2019,116,Armenia,4.559,0.850,1.055,0.815,0.283,0.095,0.064
122,2019,123,Mozambique,4.466,0.204,0.986,0.390,0.494,0.197,0.138
52,2019,53,Latvia,5.940,1.187,1.465,0.812,0.264,0.075,0.064
134,2019,135,Swaziland,4.212,0.811,1.149,0.000,0.313,0.074,0.135

In [59]:
# Get top ten most generous countries in 2017,2018 and 2019
df2017_generous=df2017.sort_values('Generosity',ascending=False).head(10)
df2017_generous

,Year,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
113,2017,114,Myanmar,4.545,0.367111,1.123236,0.397523,0.514492,0.838075,0.188816
80,2017,81,Indonesia,5.262,0.995539,1.274445,0.492346,0.443323,0.611705,0.015317
26,2017,27,Malta,6.527,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066
31,2017,32,Thailand,6.424,1.127869,1.425792,0.647239,0.580201,0.572123,0.031613
7,2017,8,New Zealand,7.314,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817
151,2017,152,Syria,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
18,2017,19,United Kingdom,6.714,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428
119,2017,120,Sri Lanka,4.440,1.009850,1.259976,0.625131,0.561213,0.490864,0.073654
144,2017,145,Haiti,3.603,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872
9,2017,10,Australia,7.284,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184

In [56]:
df2017_generous

,Year,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
113,2017,114,Myanmar,4.545,0.367111,1.123236,0.397523,0.514492,0.838075,0.188816
80,2017,81,Indonesia,5.262,0.995539,1.274445,0.492346,0.443323,0.611705,0.015317
26,2017,27,Malta,6.527,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066
31,2017,32,Thailand,6.424,1.127869,1.425792,0.647239,0.580201,0.572123,0.031613
7,2017,8,New Zealand,7.314,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817
...,...,...,...,...,...,...,...,...,...,...
117,2017,118,Gabon,4.465,1.198210,1.155620,0.356579,0.312329,0.043785,0.076047
83,2017,84,Morocco,5.235,0.878115,0.774864,0.597711,0.408158,0.032210,0.087763
78,2017,79,China,5.273,1.081166,1.160837,0.741416,0.472788,0.028807,0.022794
51,2017,52,Lithuania,5.902,1.314582,1.473516,0.628950,0.234232,0.010165,0.011866
86,2017,87,Greece,5.227,1.289487,1.239415,0.810199,0.095731,0.000000,0.043290

In [57]:
df2018_generous=df2018.sort_values('Generosity',ascending=False).head(10)
df2018_generous

,Year,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
129,2018,130,Myanmar,4.308,0.682,1.174,0.429,0.580,0.598,0.178
95,2018,96,Indonesia,5.093,0.899,1.215,0.522,0.538,0.484,0.018
147,2018,148,Haiti,3.582,0.315,0.714,0.289,0.025,0.392,0.104
149,2018,150,Syria,3.462,0.689,0.382,0.539,0.088,0.376,0.144
21,2018,22,Malta,6.627,1.270,1.525,0.884,0.645,0.376,0.142
7,2018,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
45,2018,46,Thailand,6.072,1.016,1.417,0.707,0.637,0.364,0.029
96,2018,97,Bhutan,5.082,0.796,1.335,0.527,0.541,0.364,0.171
9,2018,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302
18,2018,19,Israel,6.814,1.301,1.559,0.883,0.533,0.354,0.272

In [58]:
df2018_generous

,Year,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
129,2018,130,Myanmar,4.308,0.682,1.174,0.429,0.580,0.598,0.178
95,2018,96,Indonesia,5.093,0.899,1.215,0.522,0.538,0.484,0.018
147,2018,148,Haiti,3.582,0.315,0.714,0.289,0.025,0.392,0.104
149,2018,150,Syria,3.462,0.689,0.382,0.539,0.088,0.376,0.144
21,2018,22,Malta,6.627,1.270,1.525,0.884,0.645,0.376,0.142
7,2018,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
45,2018,46,Thailand,6.072,1.016,1.417,0.707,0.637,0.364,0.029
96,2018,97,Bhutan,5.082,0.796,1.335,0.527,0.541,0.364,0.171
9,2018,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302
18,2018,19,Israel,6.814,1.301,1.559,0.883,0.533,0.354,0.272

In [51]:
df2019_generous=df2019.sort_values('Generosity',ascending=False).head(10)
df2019_generous

,Year,Rank,Country,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
130,2019,131,Myanmar,4.360,0.710,1.181,0.555,0.525,0.566,0.172
91,2019,92,Indonesia,5.192,0.931,1.203,0.660,0.491,0.498,0.028
146,2019,147,Haiti,3.597,0.323,0.688,0.449,0.026,0.419,0.110
21,2019,22,Malta,6.726,1.300,1.520,0.999,0.564,0.375,0.151
120,2019,121,Kenya,4.509,0.512,0.983,0.581,0.431,0.372,0.053
94,2019,95,Bhutan,5.082,0.813,1.321,0.604,0.457,0.370,0.167
51,2019,52,Thailand,6.008,1.050,1.409,0.828,0.557,0.359,0.028
3,2019,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
14,2019,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278
10,2019,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290

In [61]:
# Get data for generous countries common in all three years.
dfgenerous=df2017_generous.merge(df2018_generous,on="Country",how="inner")
dfgenerous

,Year_x,Rank_x,Country,Score_x,GDP_per_capita_x,Social_support_x,Health_Life_Expectancy_x,Freedom_x,Generosity_x,Corruption_x,Year_y,Rank_y,Score_y,GDP_per_capita_y,Social_support_y,Health_Life_Expectancy_y,Freedom_y,Generosity_y,Corruption_y
0,2017,114,Myanmar,4.545,0.367111,1.123236,0.397523,0.514492,0.838075,0.188816,2018,130,4.308,0.682,1.174,0.429,0.580,0.598,0.178
1,2017,81,Indonesia,5.262,0.995539,1.274445,0.492346,0.443323,0.611705,0.015317,2018,96,5.093,0.899,1.215,0.522,0.538,0.484,0.018
2,2017,27,Malta,6.527,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,2018,22,6.627,1.270,1.525,0.884,0.645,0.376,0.142
3,2017,32,Thailand,6.424,1.127869,1.425792,0.647239,0.580201,0.572123,0.031613,2018,46,6.072,1.016,1.417,0.707,0.637,0.364,0.029
4,2017,8,New Zealand,7.314,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2018,8,7.324,1.268,1.601,0.876,0.669,0.365,0.389
5,2017,152,Syria,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,2018,150,3.462,0.689,0.382,0.539,0.088,0.376,0.144
6,2017,145,Haiti,3.603,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,2018,148,3.582,0.315,0.714,0.289,0.025,0.392,0.104
7,2017,10,Australia,7.284,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2018,10,7.272,1.340,1.573,0.910,0.647,0.361,0.302

In [62]:
dfgenerous2=dfgenerous.merge(df2019_generous,on="Country",how="inner")
dfgenerous2

,Year_x,Rank_x,Country,Score_x,GDP_per_capita_x,Social_support_x,Health_Life_Expectancy_x,Freedom_x,Generosity_x,Corruption_x,...,Corruption_y,Year,Rank,Score,GDP_per_capita,Social_support,Health_Life_Expectancy,Freedom,Generosity,Corruption
0,2017,114,Myanmar,4.545,0.367111,1.123236,0.397523,0.514492,0.838075,0.188816,...,0.178,2019,131,4.360,0.710,1.181,0.555,0.525,0.566,0.172
1,2017,81,Indonesia,5.262,0.995539,1.274445,0.492346,0.443323,0.611705,0.015317,...,0.018,2019,92,5.192,0.931,1.203,0.660,0.491,0.498,0.028
2,2017,27,Malta,6.527,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,...,0.142,2019,22,6.726,1.300,1.520,0.999,0.564,0.375,0.151
3,2017,32,Thailand,6.424,1.127869,1.425792,0.647239,0.580201,0.572123,0.031613,...,0.029,2019,52,6.008,1.050,1.409,0.828,0.557,0.359,0.028
4,2017,145,Haiti,3.603,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,...,0.104,2019,147,3.597,0.323,0.688,0.449,0.026,0.419,0.110
5,2017,10,Australia,7.284,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,...,0.302,2019,11,7.228,1.372,1.548,1.036,0.557,0.332,0.290

In [73]:
df3=dfgenerous2[['Country','Generosity_x','Generosity_y','Generosity']]
df3
df3.to_csv('Three_Years_Top_Generous.csv')
df3.to_excel('Three_Years_Top_Generous.xlsx')

In [74]:
dfgenerous2[['Country','Generosity_x','Generosity_y','Generosity']].to_csv('test.csv')